{% extends 'base.html.j2' %}

{%block content%}
BlogGPT
A blog article generator using chatGPT. 
- Generate blog articles from scratch
- Generate dalle prompts to add pictures (may add pictures in future)
- Take in text to "inspire" an article

{%endblock%}