{% extends 'base.html.j2' %}

{% block content %}
    <h1>{% block title %} Posts {% endblock %}</h1>
    {% for post, id in posts %}
        <div class='post'>
            <p>{{ post['created'] }}</p>
            <p>{{post['author']}}</p>
            <a href="/blog/{{id}}">{{ post['title'] }}</a>
            <p>{{ post['content'] }}</p>
            
        </div>
    {% endfor %}
{% endblock %}