{% extends 'base.html.j2' %}

{%block content%}
<div class="post">
<h1>BlogGPT</h1>
<p>A blog article generator using chatGPT.</p>

<ul>
    <li>Generate blog articles from scratch</li>
    <li>Generate dalle prompts to add pictures (may add pictures in future)</li>
    <li>Take in text to "inspire" an article</li>
</ul>
</div>

{%endblock%}